In [2]:
import pandas as pd
df = pd.read_csv("./resource/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [12]:
df = df[df.RestingBP<=df.RestingBP.mean()+(3*df.RestingBP.std())]

df = df[df.Cholesterol<=df.Cholesterol.mean()+(3*df.Cholesterol.std())]

df = df[df.FastingBS<=df.FastingBS.mean()+(3*df.FastingBS.std())]

df = df[df.MaxHR<=df.MaxHR.mean()+(3*df.MaxHR.std())]

df = df[df.Oldpeak<=df.Oldpeak.mean()+(3*df.Oldpeak.std())]

df = df[df.HeartDisease<=df.HeartDisease.mean()+(3*df.HeartDisease.std())]

In [13]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000,894.000000
mean,53.401566,131.720358,196.986577,0.233781,136.970917,0.833781,0.544743
std,9.427084,17.618582,107.523001,0.423471,25.429904,0.978206,0.498273
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,172.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,265.750000,0.000000,156.000000,1.500000,1.000000
max,77.000000,180.000000,518.000000,1.000000,202.000000,3.800000,1.000000

In [14]:
df.sample(1)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
867,44,M,ASY,112,290,0,LVH,153,N,0.0,Up,1

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Sex = le.fit_transform(df.Sex)
df.ChestPainType = le.fit_transform(df.ChestPainType)
df.RestingECG = le.fit_transform(df.RestingECG)
df.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
df.ST_Slope = le.fit_transform(df.ST_Slope)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [23]:
X = df.drop(['HeartDisease'], axis='columns')
y = df.HeartDisease

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42239818,  0.51603193,  0.21733125, ..., -0.81345561,
        -0.85283426,  1.0457263 ],
       [-0.46716775, -1.93786458,  1.26192338, ..., -0.81345561,
         0.17001767, -0.63571131],
       [-1.74080832,  0.51603193,  0.21733125, ..., -0.81345561,
        -0.85283426,  1.0457263 ],
       ...,
       [ 0.38192596,  0.51603193, -0.82726088, ...,  1.22932337,
         0.37458806, -0.63571131],
       [ 0.38192596, -1.93786458,  0.21733125, ..., -0.81345561,
        -0.85283426, -0.63571131],
       [-1.6346716 ,  0.51603193,  1.26192338, ..., -0.81345561,
        -0.85283426,  1.0457263 ]])

In [26]:
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,stratify=y)

In [27]:
from sklearn.svm import SVC
scores = cross_val_score(SVC(), X_train,y_train, cv=5)
scores

array([0.91044776, 0.91044776, 0.88059701, 0.84328358, 0.80597015])

In [28]:
scores.mean()

0.8701492537313433

In [29]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, X_train,y_train, cv=5)
scores

array([0.91044776, 0.90298507, 0.87313433, 0.8358209 , 0.81343284])

In [30]:
scores.mean()

0.8671641791044775

In [31]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(), X_train,y_train,cv=5)
scores

array([0.82835821, 0.8358209 , 0.76865672, 0.81343284, 0.73134328])

In [32]:
scores.mean()

0.7955223880597015

In [34]:
dtc_model = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

scores = cross_val_score(dtc_model, X_train,y_train,cv=5)
scores

array([0.87313433, 0.87313433, 0.82089552, 0.82835821, 0.81343284])

In [35]:
scores.mean()

0.8417910447761194

In [36]:
from sklearn.ensemble import RandomForestClassifier
RandomForestClassifier().fit(X_train,y_train).score(X_test,y_test)

0.8660714285714286